.landing-body{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 50vh);
    margin: 10vh auto 0 auto;
    /*width: 90%;*/


}
@media only screen and (min-width: 992px){
    .landing-body{
        width: 950px;
    }
}
.typed-text-name{
    font-size: 3.5rem;
    /* font-weight: bold; */
    display: block;
    color: #585B5C;
    font-family: "karla";
}
.typed-text-description{
    font-size: 3.5rem;
    display: block;
    /* font-weight: bold; */
    font-family: "karla";
    color: #242423;
}

.landing-body-img-wrapper{
    display: none;
    width: 0;
}

@media only screen and (min-width: 768px){
    .landing-body-img-wrapper{
        margin-left: auto;
        margin-right: 10%;
        width: 30%;
        display: inline-block;
    }
}

@media only screen and (max-width: 991px){
    .typed-text-name, .typed-text-description{
        font-size: 2.5rem;
    }
}
.landing-body-img{
    /*border-radius: 50%;*/
}

.landing-body-hero-title{
    text-align: left;
    display: block;
    font-weight: 400;
    font-family: "merriweather";
    color: #37373F;
}

.landing-body-hero-body {
    text-align: left;
    display: block;
    font-weight: 400;
    font-family: "karla";
    color:#37373F;
}