.top-nav-bar{
  padding: 3em 0 1em 0;
  color: #696969;
  font-family: poppins;
}
.top-nav-bar-button{
  color: #696969;
  padding: .5rem 1rem;
}
.top-nav-bar-button:hover{
  /*color: #aaaaaa;*/
  color: #9F6BA0;
  text-decoration: none;
}

