.top-nav-bar{
  padding: 3em 0 1em 0;
  color: #37373F;
  font-family: "karla";

}
/*.top-nav-bar-button{*/
/*  color: #696969;*/
/*  padding: .5rem 1rem;*/
/*}*/
/*.top-nav-bar-button:hover{*/
/*  !*color: #aaaaaa;*!*/
/*  color: #9F6BA0;*/
/*  text-decoration: none;*/
/*}*/

.top-nav-bar-button {
  text-decoration: none;
  position: relative;
  color:#37373F;
  padding: .5rem 1.5rem;
  /* padding-left: 0; */
  /*display: block;*/
  /*padding: 16px 0;*/
  /*margin: 0 12px;*/
  font-size: 1.3rem;
  /*text-transform: uppercase;*/
  transition: color 0.1s, background-color 0.1s;
  /*color: #000;*/
}
.top-nav-bar-button:hover {
  color: #E8998D;
  text-decoration: none;
}
.top-nav-bar-button:focus, .top-nav-bar-button:active {
  color: #E8998D;
}

.top-nav-bar-button::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  background-color: #E8998D;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.top-nav-bar-button:active::before {
  background-color: #E8998D;
}

.top-nav-bar-button:hover::before,
.top-nav-bar-button:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.bottom-breadcrumbs{
  margin-top: 5em;
  background-color: transparent;

}

/* Style the list */
ul.breadcrumb{
  padding: 3em 0 1em 0;
  list-style: none;
  background-color: transparent;

}

/* Display list items side by side */
ul.breadcrumb li {
  /*display: inline;*/
  font-size: 15px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 10px;
  color: #37373F;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #37373F;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #E8998D;
  /*text-decoration: underline;*/

}

/*CSS for Scollspy*/
.scrollspy-navbar {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav nav-pill flex-column{
  text-decoration: none;
}
/**/

.nav-container{
  align-items: center;
  padding: 0;
  /*width: 90%;*/
}
@media only screen and (min-width: 992px){
  .nav-container{
      width: 950px;
  }
}
